<?xml version='1.0' encoding='utf-8'?>
<widget id="go.free.zw" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>中网收银</name>
    <description>
        反扫收银工具
    </description>
    <author email="david@cninone.com" href="http://cordova.io">
        Freego Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
            <activity android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="adjustPan" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <engine name="browser" spec="^5.0.1" />
    <plugin name="cordova-plugin-file" spec="^5.0.0" />
    <plugin name="david.pos" spec="./FreeGo" />
</widget>
